<!DOCTYPE html>
<html>
<body>

<h1 style="text-align:center">Mockbusters</h1>
<p style="text-align:center"> Rip off of Blockbusters
    <br> <br>
<a href="rent.html">
<button style="text-align:center;height:40px;width:200px" type="button">Rent Movie</button>
<br><br>
</a>
<a href="return.html">
<button style="text-align:center;height:40px;width:200px" type="button">Return Movie</button>
<br><br>
</a>
<a href="lookup.html">
<button style="text-align:center;height:40px;width:200px" type="button">Look Up Movie</button>
<br><br>
</a>
</p>
</body>
</html>