<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <h1>Mockbusters</h1>
        <p style="text-align:center">
            <!--<br> <br>-->
            <a href="/rent">
            <button type="button">Rent Movie</button>
            <br><br>
            </a>

            <a href="/return_movie">
            <button type="button">Return Movie</button>
            <br><br>
            </a>

            <a href="/lookup">
            <button type="button">Look Up Movie</button>
            <br><br>
            </a>
        </p>
    </body>
</html>