<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
   <body>
      <h1>Lookup Movie</h1>
      <form action = "http://127.0.0.1:5000/lookup" method = "POST">
         <p>Movie Name:
         <span><input type = "text" name = "mn" value = ""/></span></p>
         <p>Actor Name:
         <span><input type = "text" name = "an" value="" /></span></p>
         <p>Director Name:
         <span><input type = "text" name = "dn" value=""/></span></p>
         <p>Genre:
         <span><input type = "text" name = "ge" value=""/></span></p>
         <p>Store Id:
         <span><input type = "text" name = "sid" value=""/></span></p>

         <p>Sort by Popularity/Times Rented?
         <span><input type = "checkbox" name = "yt"></span></p>

         <p><input type = "submit" value = "submit" /></p>
      </form>
      <table border = '3' style="width:60%" class = "center">
        <tr>
          <th>Movie ID</th>
          <th>Movie Name</th>
          <th>Genre</th>
          <th>Director Name</th>
          <th>Rating</th>
          <th>Cast List</th>
          <th>Store ID</th>
          <th>Quantity Available</th>
          <th>Times Rented</th>
        </tr>
        {% for movie_id,movie_name,genre,director_name,rating,cast_list,store_id,quantity_available,times_rented in data %}
        <tr>
          <td>{{movie_id}}</td>
          <td>{{movie_name}}</td>
          <td>{{genre}}</td>
          <td>{{director_name}}</td>
          <td>{{rating}}</td>
          <td>{{cast_list}}</td>
          <td>{{store_id}}</td>
          <td>{{quantity_available}}</td>
          <td>{{times_rented}}</td>
        </tr>
        {% endfor %}
      </table>
   </body>
</html>