<html>
   <body>
      <form action = "http://127.0.0.1:5000/lookup" method = "POST">
         <p>Movie Name:</p>
         <p><input type = "text" name = "mn" value = ""/></p>
         <p>Actor Name:</p>
         <p><input type = "text" name = "an" value="" /></p>
         <p>Director Name:</p>
         <p><input type = "text" name = "dn" value=""/></p>
         <p>Genre:</p>
         <p><input type = "text" name = "ge" value=""/></p>
         <p>Store Id:</p>
         <p><input type = "text" name = "sid" value=""/></p>

         <p>Sort by Popularity/Times Rented?</p>
         <p><input type = "checkbox" name = "yt"></p>

         <p><input type = "submit" value = "submit" /></p>
      </form>
      <table border = '3' style="width:60%">
        <tr>
          <th>Movie ID</th>
          <th>Movie Name</th>
          <th>Genre</th>
          <th>Director Name</th>
          <th>Rating</th>
          <th>Cast List</th>
          <th>Store ID</th>
          <th>Quantity Available</th>
          <th>Times Rented</th>
        </tr>
        {% for movie_id,movie_name,genre,director_name,rating,cast_list,store_id,quantity_available,times_rented in data %}
        <tr>
          <th>{{movie_id}}</th>
          <th>{{movie_name}}</th>
          <th>{{genre}}</th>
          <th>{{director_name}}</th>
          <th>{{rating}}</th>
          <th>{{cast_list}}</th>
          <th>{{store_id}}</th>
          <th>{{quantity_available}}</th>
          <th>{{times_rented}}</th>
        </tr>
        {% endfor %}
      </table>
   </body>
</html>