<html>
   <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
   </head>
   <body>
      <h1>Return Movie</h1>
      <form action = "http://127.0.0.1:5000/return_movie" method = "POST">
         <p>Enter Movie Name:
         <span><input type = "text" name = "mn" /></span></p>
         <p>Enter your Rental ID:
         <span><input type = "text" name = "rid" /></span></p>
         <p>Enter your Customer Username:
         <span><input type = "text" name = "un" /></span></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>